.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

.features ul, .technologies ul, .future ul, .github-repo ul {
    text-align: left;
}

.technologies ul, .future ul {
    list-style: none;
}