.login-page-btn {
    margin-top: 30px;
}

.login-page-signup-btn {
    background-color: #7244d5 !important; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 30px;
}

.login-page-signup-btn:hover {
    background-color: #5931a3 !important; /* Darker purple on hover */
    transform: scale(1.05);
}