/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Container */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  animation: fadeIn 1s ease-in-out; /* Fade-in for the container */
}

/* Left Container */
.left-container {
  flex: 1;
  text-align: left;
  animation: fadeIn 1.5s ease-in-out; /* Fade-in for the left container */
}

.left-container h1 {
  margin-top: 70px;
  text-align: left;
  font-size: 68px;
  margin-bottom: 20px;
  width: 600px;
}

.left-container h2 {
  font-size: 34px; 
  margin-bottom: 15px;
}

.left-container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Styling for individual letters */
.letter {
  display: inline-block;
  transition: transform 0.3s ease;
}

.letter:hover {
  transform: scale(1.5);
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  animation: fadeIn 2s ease-in-out; /* Fade-in for social icons */
}

.social-icons svg {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
  color: #18bed0;
  padding-right: 20px;
}

.social-icons svg:hover {
  transform: scale(1.1);
}

/* Right Container */
.right-container {
  margin-top: 90px;
  flex: 1;
  border-radius: 10px;
  padding: 45px;
  max-width: 900px; 
  animation: fadeIn 1.8s ease-in-out; /* Fade-in for the right container */
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 20px;
  animation: fadeIn 2s ease-in-out; /* Fade-in for the contact form */
}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
}

/* Input Fields */
.form-group input, .form-group textarea {
  width: 120%;
  padding: 15px; /* Increase padding for a bigger input */
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  font-size: 18px; /* Increase font size */
}

.form-group textarea {
  resize: none;
  height: 150px; 
}

/* Send Button */
.send-button {
  padding: 0.8rem 2rem;
  background-color: #7244d5; 
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-left: 52.5px;
  animation: fadeIn 2.5s ease-in-out; /* Fade-in for the send button */
}

.send-button:hover {
  transform: scale(1.1);
  background-color: #128996;
}

#email {
  margin-top: 20px;
}
