/* Navbar Styles */
nav {
    padding: 1rem;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.1); 
    background-color: #02717d;
}

.left-nav, .middle-nav, .right-nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px; 
    font-size: 1.5rem;
    transition: border 0.3s ease, color 0.3s ease; 
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    border: 2px solid transparent; 
    border-radius: 5px; 
}

/* Active state for navigation links except for logo, login, and signup */
nav a.active:not(.logo-link):not(.login-btn):not(.signup-btn) {
    border: 2px solid white;
    color: white;
}

/* Hover state, which you already have */
nav a:not(.logo-link):not(.login-btn):hover {
    border: 1.5px solid rgba(255, 255, 255, 0.683);
    color: white;
}

.logo-img {
    width: 70px; 
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    border: none;
    transition: transform 0.3s ease; 
}

.logo-img:hover {
    transform: scale(1.2); 
}

.logo-link {
    border: none; 
}

.login-btn {
    border-radius: 8px;
    background-color: #19a3b3;
    transition: border-color 0.25s;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.signup-btn {
    border-radius: 8px;
    background-color: #19a3b3;
    transition: border-color 0.25s;
    margin-right: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.logout-btn {
    border-radius: 8px;
    color: white;
    background-color: #19a3b3;
    transition: border-color 0.25s;
    margin-right: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.login-btn:hover, .signup-btn:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out; 
    background-color: #128996; 
    color: white;
}

.welcome-message {
    color: white;
    margin-right: 40px;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}