/* Navbar Styles */
nav {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 60px;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    nav a {
      margin: 20px 0;
    }
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer h4 {
    margin: 0;
    font-size: 0.875rem;
}