/* Navbar Styles */
nav {
    padding: 1rem;
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

nav a:hover {
    color: #FFDBB5; 
    text-decoration: underline;
    animation-duration: 2s;
}

nav .logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
}

/* Footer Styles */
.footer {
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.github_link:hover {
    text-decoration: underline;
}
